{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block title %}Notification{% endblock %}


{% block content %}
{% for msg in messages %}
<div class="alert alert-success show_msg" role="alert">
    <strong>{{msg}}</strong>
</div>
{% endfor %}
<!-- Top Heading section start -->
<div class="row m-0 pt-2">
    <div class="col-md-6 col-lg-6 col-12">
        <div class="top-right-sec text-center text-md-left text-xl-left justify-content-between pt-2">
            <h3 class="text-black">Notification   </h3>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-12 text-center text-md-right text-xl-right d-flex align-items-center justify-content-end top-right-sec">
        <div class="customer-options">


        </div>

    </div>
</div>
<!-- Top Heading section end -->

<div class="customer-details">
    <div class="row m-0 my-4">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="customer-table shadow-lg mt-2 p-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">  # </th>
                                <th scope="col">  Title </th>
                                <th scope="col"> dated </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in object_list %}
                                <tr>
                                    <td> 
                                        {% if not note.is_seen %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endif %}

                                     {{forloop.counter}} </td>
                                    <td>  <a href="{{note.url}}" target="_blank">

                                      {{note.title}} </a> </td>
                                    <td>  {{note.created_at | naturaltime }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No New Notification Found.</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- pagination for list items -->
{% if is_paginated %}
    <div class="px-3 mt-5">
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
                <li class="page-item disabled">
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Prev</a></li>
                </li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
        </nav>
    </div>
{% endif %}
<!-- End for pagination list-->

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $('.show_msg').fadeOut(3000)
    });

            let url1 = 'http://localhost:8000/news/update-notification/';

            $.ajax({
                type: 'GET',
                url: url1,
                data: {'username': "{{request.user.username}}" },
                success: function(result) {
                    console.log("notification seen by user");
                },

                });
    </script>
{% endblock %}